<!DOCTYPE html>
<html lang="en" class="bg-violet-400">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/custom.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;600&family=Lato:wght@300;400&family=Rubik&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
<div class="w-max h-max bg-slate-800 text-white p-5 rounded-3xl m-auto mt-56">
    <p class="text-right mr-1"></p>
    <div class="flex flex-row items-center justify-between w-72 h-32">
        <p class="equality"></p>
        <p class="result"></p>
    </div>
    <div class="buttons grid grid-cols-4 gap-4">
        <button class="text-violet-600" id="CE">CE</button>
        <button id="C">C</button>
        <button id="%">%</button>
        <button id="divide" class="operator"><img class="m-auto w-7" src="/assets/Divide.svg" alt="Division sign"></button>
        <button>7</button>
        <button>8</button>
        <button>9</button>
        <button id="multiply" class="operator"><img class="m-auto w-7" src="/assets/X.svg" alt="Multiplication sign"></button>
        <button>4</button>
        <button>5</button>
        <button>6</button>
        <button id="subtract" class="operator"><img class="m-auto w-7" src="/assets/Minus.svg" alt="Subtraction sign"></button>
        <button>1</button>
        <button>2</button>
        <button>3</button>
        <button id="plus" class="operator"><img class="m-auto w-7" src="/assets/Plus.svg" alt="Addition sign"></button>
        <button id="plusminus">+/-</button>
        <button>0</button>
        <button id=",">,</button>
        <button id="equals" type="submit" class="operator"><img class="m-auto w-7" src="/assets/Equals.svg" alt="Equals sign"></button>  
    </div>
</div>
<script src="/modules/main.js"></script>
</body>
</html>